@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    :root {
        --project-orange: #FC620C;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 0.4rem;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f1f1f1;
        /*border-radius: 0 1.5rem 1.5rem 0;*/
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: var(--project-orange);
        /*border-radius: 0 1.5rem 1.5rem 0;*/
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgba(252, 98, 12, 0.8);
    }

    .hidden-scrollbar::-webkit-scrollbar {
        width: 0;
    }
}

